<app-header-spdn></app-header-spdn> <!-- hacer dos header para poner la miga de pan segun como pide el figma -->
<!-- <app-breadcrumb></app-breadcrumb> -->
<app-menu-spdn></app-menu-spdn> <!-- Un menú lateral o cualquier otro componente exclusivo -->
<div class="govco-bg-solitude">
  <div class="content-wrapper">
    <div class="main-content">
      <div class="container-lg">
        <router-outlet></router-outlet> <!-- Aquí se renderizan las rutas protegidas -->
      </div>
    </div>
  </div>
</div>
<app-footer-spdn></app-footer-spdn> <!-- O un footer diferente -->