<thead class="encabezado-tabla">
  <tr>
    <th scope="col" *ngFor="let header of columns" [style.width]="getWidth(header)" [style.maxWidth]="header.maxWidth"
      [ngClass]="header.headerClass">
      <div class="header-content govcolor-white">
        {{ header.title }}
        <span *ngIf="header.sort && sortColumn !== header.field" class="govco-svg govco-sort "
          (click)="toggleSort(header)"></span>

        <span *ngIf="sortColumn === header.field && sortOrder === 'asc'" class="govco-svg govco-sort-up"
          (click)="toggleSort(header)"></span>

        <span *ngIf="sortColumn === header.field && sortOrder === 'desc'" class="govco-svg govco-sort-down"
          (click)="toggleSort(header)"></span>
      </div>
    </th>
  </tr>
</thead>