<div class="card">
    <div class="card-body d-flex justify-content-center" style="background-color: #F6F8F9;">
      <div class="inicio-sesion-govco">
        <h2>Inicio de sesión</h2>
  
        <div class="entradas-de-texto-govco mt-5">
          <label for="input-correo-id">Usuario*</label>
          <div class="input-container">
            <input id="input-correo-id" type="mail" aria-invalid="false" placeholder="Ejemplo: correo@email.com"
              typeData="mail" value="" [(ngModel)]="username" onkeyup="this.setAttribute('value', this.value);"/>
            <span class="govco-svg govco-check-circle success" aria-label="Válido" aria-hidden="true"></span>
            <span class="govco-svg govco-exclamation-circle error" aria-label="Inválido" aria-hidden="true"></span>
          </div>
        </div>

          <div class="entradas-de-texto-govco mt-4">
            <label for="input-password-id">Contraseña*</label>
            <div class="input-container">
              <input type="password" id="input-password-id" aria-describedby="password-note" aria-invalid="false"
                placeholder="Ejemplo: Campo de texto" minlength="8" typeData="password"
                value="" [(ngModel)]="password" onkeyup="this.setAttribute('value', this.value);"/>
              <button class="govco-icon govco-eye view-password d-none" aria-label="Ocultar contraseña">
              </button>
              <button class="govco-icon govco-eye-slash" aria-label="Mostrar contraseña">
              </button>
              <span class="govco-svg govco-check-circle success" aria-label="Válido" aria-hidden="true"></span>
              <span class="govco-svg govco-exclamation-circle error" aria-label="Inválido" aria-hidden="true"></span>
            </div>
          </div>

        <button type="button" class="btn-govco fill-btn-govco mt-4" name="continuar" style="width: 165px; height: 42px;" (click)="login()">Continuar</button>
  
        <div *ngIf="loginFailed" class="text-danger mt-3">
          Usuario o contraseña incorrectos.
        </div>

        <div class="container-options-login-govco">
          <div class="mt-3">
            <a href="">Olvidé mi contraseña</a>
          </div>
        </div>
      </div>
    </div>
  </div>