.cabecera-govco .barra-logos-govco .logo_minjusticia {
    content: url('../../../../../assets/images/logo-minjusticia.png');
    height: 80px;
    width: auto;
    display: inline-block;
  }
  
  .cabecera-govco .barra-logos-govco .logo_odc {
    content: url('../../../../../assets/images/odc-logo.svg');
    height: 80px;
    width: auto;
    display: inline-block;
  }