<div class="content-tab">
    <h3 class="govcolor-cobalt text-center">ASFIXIA</h3>

    <div><strong>Esta política traza un camino para asfixiar los nodos estratégicos del sistema criminal, que son
            quienes han
            generado violencia y se han lucrado en mayor proporción de esta economía ilícita, causando un enorme dolor
            colectivo en los colombianos</strong>. De manera estratégica, firme y respetuosa de los derechos humanos, el
        Estado afectará
        las capacidades y rentas de las organizaciones criminales. Es momento de enfocar nuestros esfuerzos punitivos en
        quienes obtienen los mayores recursos y tienen más capacidad de hacer daño a la sociedad y a nuestra democracia,
        y
        no en los pequeños campesinos cultivadores, los jóvenes y mujeres que son instrumentalizados por las redes de
        tráfico,
        ni en las personas que portan drogas para su uso personal. Esto solo conseguiremos hacerío si hacemos frente a
        la
        corrupción y la influencia perversa de los recursos provenientes del narcotráfico.<br></div>

    <div class="text-center">
        <img src="https://www.minjusticia.gov.co/programas-co/ODC/Documents/Politica-Drogas/img-/AxfixiaItems.jpg"
            class="img-fluid" alt="10 items afixia">
  
    </div>
</div>