<div class="pie-pagina-govco">
  <div class="first-section">
    <h4>Nombre completo de la sede electrónica</h4>
    <div class="logo-container">
      <span class="govco-logo-potencia"></span>
      <span class="separator"></span>
      <span class="govco-logo-entidad"></span>
    </div>
    <h5>Sede principal</h5>
    <ul class="contact-data-container">
      <li>
        <p>Dirección: xxxxxx xxx xxx Departamento y municipio</p>
      </li>
      <li>
        <p>Código postal: xxxx</p>
      </li>
      <li>
        <p>Horario de atención: Lunes a viernes </p>
        <p>xx:xx a.m. - xx:xx p.m.</p>
      </li>
      <li>
        <p>Teléfono conmutador: +57(xx) xxx xx xx</p>
      </li>
      <li>
        <p>Línea gratuita: +57(xx) xxx xx xx</p>
      </li>
      <li>
        <p>Línea anticorrupción: +57(xx) xxx xx xx</p>
      </li>
      <li>
        <p>
          Correo institucional:
          <a href="mailto:ministerio{{ '@' }}ministerio.gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">ministerio{{ '@' }}ministerio.gov.co</a>
        </p>
      </li>
      <li>
        <p>
          Correo de notificaciones judiciales:
          <a href="mailto:judiciales{{ '@' }}gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">judiciales{{ '@' }}gov.co</a>
        </p>
      </li>
    </ul>
    <div class="links-container">
      <a href="#" role="button" class="btn-govco link-btn-govco" style="width: 123px; height: 33px;" aria-label="enlace al twiter de la entidad">
        <span class="govco-svg govco-twitter" aria-hidden="true"></span>
        <span>{{ '@' }}Entidad</span>
      </a>
      <a href="#" role="button" class="btn-govco link-btn-govco" style="width: 123px; height: 33px;" aria-label="enlace al instagram de la entidad">
        <span class="govco-svg govco-instagram" aria-hidden="true"></span>
        <span>{{ '@' }}Entidad</span>
      </a>
      <a href="#" role="button" class="btn-govco link-btn-govco" style="width: 123px; height: 33px;" aria-label="enlace al facebook de la entidad">
        <span class="govco-svg govco-facebook-f" aria-hidden="true"></span>
        <span>{{ '@' }}Entidad</span>
      </a>
    </div>
    <div class="data-container">
      <ul class="data">
        <h6>Sede 1</h6>
        <li>
          <p>Dirección: xxxxxx xxx xxx </p>
          <p>Departamento y municipio</p>
        </li>
        <li>
          <p>Horario de atención: Lunes a viernes </p>
          <p>xx:xx a.m. - xx:xx p.m.</p>
        </li>
      </ul>
      <ul class="data">
        <h6>Contacto</h6>
        <li>
          <p>Teléfono conmutador: +57(xx) xxx xx xx </p>
        </li>
        <li>
          <p>
            Correo institucional:
            <a href="mailto:ministerio{{ '@' }}ministerio.gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">ministerio{{ '@' }}ministerio.gov.co</a>
          </p>
        </li>
      </ul>
      <ul class="data">
        <h6>Sede 2</h6>
        <li>
          <p>Dirección: xxxxxx xxx xxx </p>
          <p>Departamento y municipio</p>
        </li>
        <li>
          <p>Horario de atención: Lunes a viernes </p>
          <p>xx:xx a.m. - xx:xx p.m.</p>
        </li>
      </ul>
      <ul class="data">
        <h6>Contacto</h6>
        <li>
          <p>Teléfono conmutador: +57(xx) xxx xx xx </p>
        </li>
        <li>
          <p>
            Correo institucional:
            <a href="mailto:ministerio{{ '@' }}ministerio.gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">ministerio{{ '@' }}ministerio.gov.co</a>
          </p>
        </li>
      </ul>
      <ul class="data">
        <h6>Sede 3</h6>
        <li>
          <p>Dirección: xxxxxx xxx xxx </p>
          <p>Departamento y municipio</p>
        </li>
        <li>
          <p>Horario de atención: Lunes a viernes </p>
          <p>xx:xx a.m. - xx:xx p.m.</p>
        </li>
      </ul>
      <ul class="data">
        <h6>Contacto</h6>
        <li>
          <p>Teléfono conmutador: +57(xx) xxx xx xx </p>
        </li>
        <li>
          <p>
            Correo institucional:
            <a href="mailto:ministerio{{ '@' }}ministerio.gov.co" class="btn-govco link-btn-govco" aria-label="Permite enviar correo" target="_blank">ministerio{{ '@' }}ministerio.gov.co</a>
          </p>
        </li>
      </ul>
    </div>
    <div class="end-links-container">
      <a href="#" class="btn-govco link-btn-govco">Políticas</a>
      <a href="#" class="btn-govco link-btn-govco">Mapa del sitio</a>
      <a href="#" class="btn-govco link-btn-govco">Términos y condiciones</a>
      <a href="#" class="btn-govco link-btn-govco">Accesibilidad</a>
    </div>
  </div>
  <div class="second-section">
    <span class="govco-logo"></span>
    <span class="separator"></span>
    <span class="govco-co"></span>
  </div>
</div>