.load-button-carga-archivo-govco {
    position: relative;
    top: -3px;
}

.attached-files-carga-archivo-govco2 {
    display: block;
}

.govco-svg {
    min-width: 2.5rem;
    min-height: 2.5rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 2.5rem 2.5rem;
}

.govco-text {
    position: relative;
    top: 10px;
}

.attached-file-carga-archivo-govco {
    margin-right: 0 !important;
}

.load-carga-archivo-spdn {
    padding: 0 1.188rem;
    display: flex;
    align-items: center;
}