.container {
  display: flex;
  flex-direction: column;
  min-height: 40vh !important;
}

.govco-icon {
  min-width: 1rem !important;
  min-height: 1rem !important;
}

.container-alerta-govco .govco-icon.fs-mr {
  min-width: 1.5rem !important;
  min-height: 1.5rem !important;
}

.container-toast-govco .govco-icon.fs-mr {
  min-width: 1.5rem !important;
  min-height: 1.5rem !important;
}

.govco-icon.govco-times:after {
  content: "" !important;
}

.container-alerta-govco .alerta-govco {
  max-width: 100% !important;
}

.container-toast-govco {
  max-width: 100% !important;
  margin: 16px 0 16px 0 !important;
}

.load-button-carga-archivo-govco {
  position: relative;
  top: -3px;
}

.attached-files-carga-archivo-govco2 {
  display: block;
}

.govco-svg {
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
}

.govco-text {
  position: relative;
  top: 10px;
}

.carga-archivo-govco .load-carga-archivo-spdn {
  padding: 0 1.188rem;
  display: flex;
  align-items: center;
}